@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #0d7b3f;
}

nav {
    height: 12vh;
}

.navbar {
    background-color: #000;
    box-shadow: 0px 0px 16px 16px #000000c4;
    padding: 0%;
    --bs-navbar-active-color: #fff;

        z-index: 1050; 
        position: relative;   
}

.navbar-collapse.show {
    background-color: #000;
    width: 100%;
    height: 70vh;
}

.navbar-toggler {
    background-color: #fff;
}

.nav-link {
    display: flex;
    color: #fff;
    height: 100%;
    align-items: center;
    font-family: "Oswald", sans-serif;
    font-weight: 400;

    border-bottom: none;
}

.container-fluid {
    height: 100%;
}

.navbar-collapse {
    height: 100%;
}

.navbar-nav {
    height: 100%;
    gap: 40px;
}

.nav-item {
    height: 100%;
}

.nav-link.aot:hover {
    border-bottom: 4px solid #0d7b3f;
    color: #0d7b3f;
    font-weight: 600;
}
.nav-link.csm:hover {
    border-bottom: 4px solid #ff7811;
    color: #ff7811;
    font-weight: 600;
}
.nav-link.dhd:hover {
    border-bottom: 4px solid #db0000;
    color: #db0000;
    font-weight: 600;
}
.nav-link.jjk:hover {
    border-bottom: 4px solid #a0097a;
    color: #a0097a;
    font-weight: 600;
}

.dropdown-menu {
    font-family: "Barlow", sans-serif;
    display: none; 
    position: absolute;
}

.dropdown-menu.show {
    display: block;
    position: absolute; 
}

.dropdown-menu.aot {
    background-color: #0d7b3f;
    --bs-dropdown-link-color: #fff;
    --bs-dropdown-link-active-bg: #000;
}
.dropdown-menu.csm {
    background-color: #ff7811;
    --bs-dropdown-link-color: #fff;
    --bs-dropdown-link-active-bg: #000;
}
.dropdown-menu.dhd {
    background-color: #db0000;
    --bs-dropdown-link-color: #fff;
    --bs-dropdown-link-active-bg: #000;
}
.dropdown-menu.jjk {
    background-color: #a0097a;
    --bs-dropdown-link-color: #fff;
    --bs-dropdown-link-active-bg: #000;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px;

    background: #000;
    height: 50vh;

    box-shadow: 0px -8px 32px 16px #000;
}

.footer-content {
    display: inline;
    justify-content: flex-start;
    align-items: center;
    padding-right: 80px;
    border-right: 4px solid #fff;
    height: 100%;
}

.footer-text h4 {
    color: #fff;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.footer-text {
    padding-top: 16px;
}

.logo-footer {
    height: 16vh;
    width: auto;
    margin: 32px 0px;
}

.footer-social {
    display: block;
    align-content: end;
    padding: 32px;
}

.footer-icons {
    display: flex;
    gap: 24px;
}

.social-text {
    display: flex;
    padding-bottom: 16px;
    justify-content: center;
}

.social-text h4 {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 2rem;
}

.icon {
    height: 32px;
    width: auto;
}

.principal {
    box-shadow: 0px 40px 64px #082d19;
}
.carousel-img {
    max-height: 72dvh;
    object-fit: cover;
}

.c1 {
    position: relative;

        z-index: 1; 
}

.c1 > h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 4rem;
    text-shadow: 0px 0px 24px #000;
    font-family: "Oswald", sans-serif;
    font-weight: 600;

    transform: translate(-50%, -50%);
}

.section2titans {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding: 16px 16px 80px 16px;

    justify-items: center;
    align-items: center;
}

.btn {
    height: auto;

    transition: transform 0.5s ease-in-out;
}

.btn:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
}

.titanesimg {
    height: 250px;
    width: 250px;
}

.titans {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulotitanes h2 {
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 8rem;
}

.custom-popover {
    color: #000;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    --bs-popover-font-size: 1.3rem;
}

.section1s4 {
    padding: 80px 80px 40px 80px;
}

.contenidos4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.comparacion {
    height: 60dvh;
    box-shadow: 0px 0px 40px 8px #082d19;
}

.infos4 {
    padding-left: 40px;
    color: #fff;
    font-family: "Barlow", sans-serif;
}

.infos4 h3 {
    font-weight: 600;
    font-size: 4rem;
}

.infos4 p {
    font-weight: 500;
    font-size: 1.2rem;
}

.bgsection3 {
    height: 80dvh;
    
    background-image: url(../assets/images/aotst.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    mask-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0.01));
}

.btn-dark {
    width: 100%;
    height: 80px;
    background-color: #000;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

@media (max-width: 768px) {
    nav {
        width: 100%;
    }

    .navbar {
        width: 100%;
    }

    .navbar-nav {
        flex-direction: column;
        text-align: center; 
        gap: 10px; 
    }

    .container-fluid {
        justify-content: space-between;
    }

    .navbar-toggler {
        margin-left: auto; 
    }

    .dropdown-menu {
        position: relative;
        width: 100%;
    }

    .dropdown-menu a {
        text-align: center; 
    }

    .navbar-collapse {
        justify-content: flex-start;
    }

    div.section1s4 {
        padding: 56px 56px;
    }

    .principal {
        width: 100%;
    }

    div.comparacion {
        height: 20vh;
    }

    .contenidos4 {
        align-items: center;
    }

    
    .infos4 h3 {
        font-weight: 600;
        font-size: 2rem;
    }

    .infos4 p {
        font-weight: 400;
        font-size: 1rem;
    }

    .titans {
        display: block;
    }

    .titulotitanes {
        display: flex;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        align-items: center;
        align-self: center;
        align-content: center;
    }

    div.section2titans {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .bgsection3 {
        height: 40dvh;
        background-size: 100%;
    }

    .footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 10px 40px;
        background: #000;
        align-content: center;
        align-items: center;
        height: 70dvh;
    }

    .footer-content {
        padding-right: 0px;
        border-right: none;
    }
}

@media (max-width: 1024px) {
    nav {
        width: 100%;
    }

    .navbar {
        width: 100%;
    }

    .navbar-nav {
        gap: 20px; 
    }

    .navbar-collapse {
        justify-content: center;
    }

    .container-fluid {
        justify-content: space-between; 
    }

    .section1s4 {
        padding: 80px 100px;
    }

    .principal {
        width: 100%;
    }

    div.comparacion {
        height: 45vh;
    }

    .contenidos4 {
        align-items: center;
    }

    .titans {
        display: block;
    }

    .titulotitanes {
        display: flex;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        align-items: center;
        align-self: center;
        align-content: center;
    }

    .section2titans {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .bgsection3 {
        height: 40dvh;
        background-size: 100%;
    }

    .btn-dark {
        width: 100%;
    }

}

